body
  &.page-index
    #wrapper
      background-image:url("../image/img1.jpg");
      background-size:cover;
      background-position:center center;
      text-shadow:2px 2px rgba(0,0,0,.2)
    .icon-leaf
      font-size:100px
      line-height:100px
  &.page-examples
    .image
      &.platform
        background-image:url("../image/imac.png")
        background-size:cover
    .inside
      line-height:22px
      overflow-y:scroll
      position:absolute
      top:5%
      right:4%
      bottom:32.5%
      left:4%
      .tile
        img
          max-width:200px
.strong-padding
  padding: 15px
.base-padding
  padding: 10px
#wrapper
  .fullwidth
    height: 100%
// Smartphone, both orientations
@media (max-width: 767px)
  body
    overflow:hidden
    .show-on-mobile
      inline()
    &.page-examples
      .image
        &.platform
          background-image:url("../image/iphone.png")
      .inside
        top:16.5%
        right:6.5%
        bottom:16%
        left:6.5%
        .tile
          img
            width:100%
            max-width:none

// Tablet, both orientations
@media (min-width: 768px) and (max-width: 1199px) 
  body
    .show-on-tablet
      inline()
    .desktop-nav
      display:none
    &.page-examples
      .image
        &.platform
          background-image:url("../image/ipad.png")
      .inside
        top:10%
        right:12%
        bottom:9.8%
        left:11.3%